<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row header">
            <lable class="label">Dictionary</lable>
            <input type="text" id="term-input" name="term-input" placeholder="Search Term">
            <button id="search-btn" class="button-27">Look Up</button>
        </div>
        <div class="row body">
            <div id="output"></div>
        </div>
        <div class="row footer">
            <button id="previous-btn" class="button-27">Previous</button>
            <button id="next-btn" class="button-27">Next</button>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>